---
import Strike from '@/components/Strike.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout class="flex flex-col gap-10 items-center">
  <Strike style="ghost" class="text-center mt-10">
    <span class="text-9xl">404</span>
  </Strike>
  <a href="/">Return home</a>
</Layout>
