---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="space-y-4">
    <h1 class="text-5xl font-bold">The studio that never was</h1>
    <p class="text-lg text-justify">
      Born in the mind of a daydreamer, cancelled and abandoned countless times.
      Today, the studio writes its story on the bleeding edge of imagination and
      technology, bending the boundaries of what is possible.
    </p>
    <p class="text-lg text-justify">
      Our mission is to create the next generation of apps and tools that answer
      the challenges of tomorrow.
    </p>
    <p class="text-lg text-justify">Stay tuned. 🤗</p>
  </section>
</Layout>
