---
import Strike from './Strike.astro';
import Navigation from './Navigation.astro';
---

<header class="flex flex-col p-10 items-center gap-10">
  <Strike>
    <a class="font-black text-4xl p-2 no-style" href="/">Cancelled</a>
  </Strike>
  <Navigation />
</header>
